.dropdown-list {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024,
        0 1px 10px #0000001f;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.dropdown-list-item {
    padding: 5px;
    cursor: pointer;
    text-align: left;
    margin-left: 10px;
}

.dropdown-list-item:hover {
    background-color: #ddd;
}

.unidentified-affilitation {
    position: relative;
}

.unidentified-affilitation::after {
    content: "Unidentified organization";
    position: absolute;
    text-transform: none;
    top: 100%;
    right: 0;
    margin-top: 5px;
    color: gray;
}